<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-topbar></app-topbar>
<mat-card>
    <mat-card-content>
        <mat-card>
            <mat-card-content>
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput [min]="minDate" [max]="startMaxDate" [formControl]="startDateControl" [matDatepicker]="startPicker" placeholder="From"
                                        (dateInput)="changeStartDate($event)">
                                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #startPicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput [min]="endMinDate" [max]="maxDate" [formControl]="endDateControl" [matDatepicker]="endPicker" placeholder="To"
                                        (dateInput)="changeEndDate($event)">
                                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #endPicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-checkbox name="Crude" [(ngModel)]="showCrude" (change)="handleCrude()">Crude&nbsp;</mat-checkbox>
                                <mat-checkbox name="Petrol" [(ngModel)]="showFuel['Petrol']" (change)="handleFuel('Petrol')">Petrol&nbsp;</mat-checkbox>
                                <mat-checkbox name="Diesel" [(ngModel)]="showFuel['Diesel']" (change)="handleFuel('Diesel')">Diesel</mat-checkbox>
                            </div>
                            <div class="col-md-3">
                                <mat-checkbox name="Mumbai" [(ngModel)]="showCity['Mumbai']" (change)="handleCity('Mumbai')">Mumbai&nbsp;</mat-checkbox>
                                <mat-checkbox name="Delhi" [(ngModel)]="showCity['Delhi']" (change)="handleCity('Delhi')">Delhi&nbsp;</mat-checkbox><br>
                                <mat-checkbox name="Koklata " [(ngModel)]="showCity['Kolkata']" (change)="handleCity('Kolkata')">Kolkata&nbsp;&nbsp;</mat-checkbox>
                                <mat-checkbox name="Chennai" [(ngModel)]="showCity['Chennai']" (change)="handleCity('Chennai')">Chennai</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div [chart]="chart"></div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>